body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.btn-time-stamp {
  width: 40%;
}

.btn-show-graph{
  width: 30%;
}

.time-presenter{
  width: 38%;
}

.recent-sleep {
  width: 78%
}

.night {
  margin: 25px 10px 10px 10px;
}

.container {
  border: solid 1px;
  width: 40%;
  margin: auto;
}
.clock-container{
  text-align: center;
  width:100%;
}

.clock {
  width: 15vh;
  height: 3vh;
  border: 1px solid;
}

.clock-left {
  float: left;
  margin-left: 35px;
}

.clock-right {
  float: right;
  margin-right: 35px;
}
